# Miscellaneous
*.class
*.log
*_build_log.txt
flutter_build_log.txt
flutter_build_short.txt
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related (expanded)
.dart_tool/
.packages
.pub/
**/build/
.flutter-plugins
.flutter-plugins-dependencies
**/doc/api/
ios/Flutter/.last_build_id
ios/Flutter/Generated.xcconfig


# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android/Gradle
.gradle/
local.properties
**/.cxx/
**/captures/

# Xcode
**/DerivedData/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
**/*.xcuserstate
**/*.xcuserdatad/

# Editors
.idea
.vscode/
